# Database
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/sodachikyu

# Firebase Admin
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=your-client-email@project.iam.gserviceaccount.com